@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap");

* {
  /*  asterisk (*) is CSS universal selectors, all elements get this styling*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  overflow-x: hidden;
  background: linear-gradient(#2b1055, #7595de);
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  /* top and bottom padding is 30, right and left padding is 100 */
  display: flex;
  /* specifies if/how an element is displayed. */
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  /* specifies the stack order of an element. An element with greater stack order is always in front of an element with a lower stack order. */
}

header .logo {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2pxS;
}
header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  list-style: none;
  padding: 6px 15px;
  color: #fff;
}
header ul li a {
  text-decoration: none;
  padding: 6px 15px;
  color: #fff;
  border-radius: 20px;
}
header ul li a:hover,
header ul li a.active {
  background: #fff;
  color: #2b1055;
}
section {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
section::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #1c0522, transparent);
  z-index: 1000;
}
section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}
section img#moon {
  mix-blend-mode: screen;
}
section img#mountains_front {
  z-index: 10;
}
#text {
  position: absolute;
  right: -350px;
  color: #fff;
  white-space: nowrap;
  font-size: 7.5vw;
  z-index: 9;
}

#btn {
  text-decoration: none;
  display: inline-block;
  padding: 8px 30px;
  border-radius: 40px;
  background: #fff;
  color: #2b1055;
  font-size: 1.5em;
  z-index: 9;
  transform: translateY(100px);
}
.sec {
  position: relative;
  padding: 100px;
  background: #1c0522;
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(
      calc(-1 * var(--marquee-element-width) * var(--marquee-elements))
    );
  }
}

.sec h2 {
  font-size: 3.5em;
  margin-bottom: 10px;
  color: #fff;
}
.sec p {
  font-size: 1em;
  color: #fff;
}

#shooting-star {
  position: absolute;
  top: 20px;
  width: 250%;
  height: 120%;
  object-fit: cover;
  opacity: 0.4;
  mix-blend-mode: screen;
}

#contact li {
  display: inline-block;
  margin-right: 85px;
  text-align: center;
  color: whitesmoke;
  list-style: circle;
}
li:hover {
  color: #7595de;
}

a,
a:visited {
  text-decoration: none;
}
a:active {
  color: inherit;
  text-decoration: none; /* Remove underlines or other decorations */
}

.flip-card {
  background-color: transparent;
  width: 350px;
  height: 450px;
  border-radius: 50%;
  perspective: 1000px;
  overflow: hidden; /* Hide any overflowing content */
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* Use background-image to set the image */
.flip-card-front {
  background-color: #bbb;
  color: black;
  background-size: cover; /* Crop and fit the image */
  background-position: center; /* Center the image */
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}

#avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
#heading {
  font-size: 50px;
}

#description {
  font-size: 30px;
}
.about-me {
  list-style-type: circle;
  color: #bbb;
}

.container {
  align-items: center;
  justify-content: left;
  padding: 5%;
}

.img-container {
  float: left;
  margin-right: 80px;
}

.description-container {
  color: white;
  padding-left: 20px;
}
