@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

*{
/*  asterisk (*) is CSS universal selectors, all elements get this styling*/  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
body{
    min-height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(#2b1055, #7595de);
}
header{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    padding: 30px 100px;
    /* top and bottom padding is 30, right and left padding is 100 */
    display: flex;
    /* specifies if/how an element is displayed. */
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    /* specifies the stack order of an element. An element with greater stack order is always in front of an element with a lower stack order. */
}
header .logo{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2pxS;
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    list-style: none;
    padding: 6px 15px;
    color: #fff;
}
header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}
header ul li a:hover,
header ul li a.active{
    background: #fff;
    color: #2b1055;
}
section{
   position: relative; 
   width: 100%;
   height:100vh;
   padding: 100px;
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
}
section::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #1c0522, transparent);
    z-index: 1000;
}
section img{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
section img#moon{
    mix-blend-mode: screen;
}
section img#mountains_front{
    z-index: 10;}
#text{
 position: absolute;
 right: -350px;
 color: #fff;  
 white-space: nowrap; 
 font-size: 7.5vw;
 z-index: 9;
}

#btn{
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background: #fff;
    color: #2b1055;
    font-size: 1.5em;
    z-index: 9;
    transform: translateY(100px);

}
.sec{
    position: relative;
    padding: 100px;
    background: #1c0522;
}
:root {
    --marquee-width: 80vw;
    --marquee-height: 30vh;
    --marquee-elements: 4; 
    --marquee-elements-displayed: 5;
    --marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
    --marquee-animation-duration: calc(var(--marquee-elements) * 3s);
  }
  
.marquee {
  width: var(--marquee-width);
  height: var(--marquee-height);
  background-color: #fff;
  color: #1c0522;
  overflow: hidden;
  position: relative;
}
.marquee:before, .marquee:after {
  position: absolute;
  top: 0;
  width: 10rem;
  height: 100%;
  content: "";
  z-index: 1;
}
.marquee:before {
  left: 0;
  background: linear-gradient(to right, #fff 0%, transparent 100%);
}
.marquee:after {
  right: 0;
  background: linear-gradient(to left, #fff 0%, transparent 100%);
}
.marquee-content {
  list-style: none;
  height: 100%;
  display: flex;
  animation: scrolling var(--marquee-animation-duration) linear infinite;
}

/* .marquee-content:hover {
  animation-play-state: paused;
  } */

@keyframes scrolling {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements))); }
}
.marquee-content li {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
    width: var(--marquee-element-width);
    max-height: 100%;
    font-size: calc(var(--marquee-height)*3/4); /* 5rem; */
    white-space: nowrap;
  }
  
  .marquee-content li img {
    width: 100%;

    border: 2px solid #fff;

  }
  
  @media (max-width: 600px) {
    html { font-size: 12px; }
    :root {
      --marquee-width: 100vw;
      --marquee-height: 16vh;
      --marquee-elements-displayed: 3;
    }
    .marquee:before, .marquee:after { width: 5rem; }
  }
  
.sec h2{
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #fff;
}
.sec p{
    font-size: 1em;
    color: #fff;
}

.paragraph {
  text-align: center;
}

#shooting-star{
  position: absolute;
  top:20px;
  width: 250%;
  height: 120%;
  object-fit: cover;
  opacity: 0.4;
  mix-blend-mode: screen;
}

.resume
{
margin-top: 70px;
margin-left: 140px;
margin-right: 140px;
margin-bottom: 30px;
}
